.event-list {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  width: 100%; /* Make sure it uses the full available width */
  max-width: 800px; /* Set the desired maximum width */
  margin: 0 auto; /* Center the container */
}

.event-list {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  width: 100%; /* Make sure it uses the full available width */
  max-width: 800px; /* Set the desired maximum width */
  margin: 0 auto; /* Center the container */
  margin-bottom: 3rem;
}

.event-row {
  display: flex;
  gap: 1rem;
  align-items: center;
}

.event-number {
  width: 2rem;
  text-align: center;
  font-weight: bold;
}

.event-input {
  flex: 1;
  padding: 0.5rem;
  border: 1px solid #ddd;
  border-radius: 4px;
  font-size: 1rem;
}

.button-container {
  display: flex;
  gap: 1rem;
  justify-content: center;
}

.add-row-button {
  background-color: #4caf50;
  color: white;
  border: none;
  padding: 0.5rem 1rem;
  font-size: 1rem;
  border-radius: 4px;
  cursor: pointer;
}

.assist-button {
  color: white;
  border: none;
  padding: 0.5rem 1rem;
  font-size: 1rem;
  border-radius: 4px;
  cursor: pointer;
  align-self: center;
}

.assist-button {
  background-color: #38b6ff;
}

.add-row-button {
  background-color: #4caf50;
}

.assist-button:hover {
  background-color: #45a049;
}

.add-row-button:hover {
  background-color: #38b6ff;
}

.analyze-button {
  background-color: #007bff;
  color: white;
  border: none;
  padding: 0.5rem 1rem;
  font-size: 1rem;
  border-radius: 4px;
  cursor: pointer;
}

.analyze-button:hover {
  background-color: #0056b3;
}

/* Responsive styles for mobile devices */
@media (max-width: 767px) {
  .event-row {
    flex-direction: column; /* Stack elements vertically */
    align-items: flex-start; /* Align items to the start */
  }

  .event-number {
    width: 100%; /* Full width on mobile */
    text-align: left; /* Align text to the left */
  }

  .event-input {
    width: 100%; /* Full width on mobile */
  }

  .button-container {
    flex-direction: column;
    width: 100%;
  }

  .add-row-button,
  .assist-button {
    width: 100%;
  }
}

.progress-bar {
  display: flex;
  flex-direction: row;
  margin-top: 10px;
  border: 1px solid #ddd;
  border-radius: 5px;
  overflow: hidden;
}

.progress-step {
  flex: 1;
  padding: 10px;
  text-align: center;
  cursor: pointer;
  background-color: white;
  color: black;
  border-right: 1px solid #ddd;
  transition: background-color 0.3s ease;
}

.progress-step:last-child {
  border-right: none;
}

.progress-step.completed {
  background-color: green;
  color: white;
}

.progress-step.incomplete:hover {
  background-color: lightgray;
}
